@* _CorePackages.cshtml *@
<div id="core-packages" class="container-xxl py-5 core-packages-section">
    <div class="container">
        <div class="text-center">
            <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
            <h1 class="display-5 mb-5">Choose Perfect Web Hosting Package For You</h1>
            <div class="billing-toggle">
                <span>Monthly Plan</span>
                <label class="switch">
                    <input type="checkbox" id="billing-toggle-checkbox">
                    <span class="slider round"></span>
                </label>
                <span>Yearly Plan</span>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-md-3">
                <div class="card h-100 custom-card">
                    <div class="card-body">
                        <h5 class="card-title">Starter</h5>
                        <p class="price monthly">Starting at <strong>$3.59/mo</strong></p>
                        <p class="price yearly" style="display: none;">Starting at <strong>$35.88/yr</strong></p>
                        <p>Normally $9.99</p>
                        <button class="btn btn-primary w-100">Get Monthly Plan</button>
                        <ul class="list-unstyled">
                            <li>1 Website</li>
                            <li>10 GB SSD Storage</li>
                            <li>Custom Themes</li>
                            <li>24/7 Customer Support</li>
                            <li>Free Domain - 1 year</li>
                            <li>Free CDN Included</li>
                            <li>Free SSL for the 1st year</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100 custom-card">
                    <div class="card-body">
                        <h5 class="card-title">Plus</h5>
                        <p class="price monthly">Starting at <strong>$5.59/mo</strong></p>
                        <p class="price yearly" style="display: none;">Starting at <strong>$55.88/yr</strong></p>
                        <p>Normally $15.99</p>
                        <button class="btn btn-primary w-100">Get Monthly Plan</button>
                        <ul class="list-unstyled">
                            <li>Unlimited Websites</li>
                            <li>20 GB SSD Storage</li>
                            <li>Custom Themes</li>
                            <li>24/7 Customer Support</li>
                            <li>Free Domain - 1 year</li>
                            <li>Free CDN Included</li>
                            <li>Free SSL Certificate</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100 custom-card">
                    <div class="card-body">
                        <h5 class="card-title">Deluxe</h5>
                        <p class="price monthly">Starting at <strong>$8.59/mo</strong></p>
                        <p class="price yearly" style="display: none;">Starting at <strong>$85.88/yr</strong></p>
                        <p>Normally $24.99</p>
                        <button class="btn btn-primary w-100">Get Monthly Plan</button>
                        <ul class="list-unstyled">
                            <li>Unlimited Websites</li>
                            <li>40 GB SSD Storage</li>
                            <li>Custom Themes</li>
                            <li>24/7 Customer Support</li>
                            <li>Free Domain - 1 year</li>
                            <li>Free CDN Included</li>
                            <li>Free SSL Certificate</li>
                            <li>Free Domain Privacy</li>
                            <li>Free Automated Backup</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100 custom-card">
                    <div class="card-body">
                        <h5 class="card-title">Ultimate</h5>
                        <p class="price monthly">Starting at <strong>$15.59/mo</strong></p>
                        <p class="price yearly" style="display: none;">Starting at <strong>$155.88/yr</strong></p>
                        <p>Normally $36.99</p>
                        <button class="btn btn-primary w-100">Get Monthly Plan</button>
                        <ul class="list-unstyled">
                            <li>Unlimited Websites</li>
                            <li>100 GB SSD Storage</li>
                            <li>Custom Themes</li>
                            <li>24/7 Customer Support</li>
                            <li>Optimized CPU Resources</li>
                            <li>Free Domain - 1 year</li>
                            <li>Free CDN Included</li>
                            <li>Free SSL Certificate</li>
                            <li>Free Domain Privacy</li>
                            <li>Free Automated Backup</li>
                            <li>Free Dedicated IP</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
