
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 d-flex">
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="card bg-dark rounded-card h-100">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="btn-square rounded-circle" style="width: 64px; height: 64px; background: #000000;">
                                <img class="img-fluid" src="img/icon/icon-3.png" alt="Icon">
                            </div>
                            <h1 class="display-1 mb-0" style="color: #000000;">01</h1>
                        </div>
                        <h5 class="text-white">Networks</h5>
                        <hr class="w-25">
                        <span>With our experience and attention to detail, we guarantee a networking solution that optimizes the performance and efficiency of your operations.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="card bg-dark rounded-card h-100">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="btn-square rounded-circle" style="width: 64px; height: 64px; background: #000000;">
                                <img class="img-fluid" src="img/icon/icon-4.png" alt="Icon">
                            </div>
                            <h1 class="display-1 mb-0" style="color: #000000;">02</h1>
                        </div>
                        <h5 class="text-white">Accessible Technological Solutions</h5>
                        <hr class="w-25">
                        <span>Custom applications, efficient management systems, and innovative digital tools to drive your company's success.</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="card bg-dark rounded-card h-100">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="btn-square rounded-circle" style="width: 64px; height: 64px; background: #000000;">
                                <img class="img-fluid" src="img/icon/icon-2.png" alt="Icon">
                            </div>
                            <h1 class="display-1 mb-0" style="color: #000000;">03</h1>
                        </div>
                        <h5 class="text-white">Support</h5>
                        <hr class="w-25">
                        <span>We're here to support you every step of the way, ensuring that your technological solutions fully meet your needs and expectations.</span>
                    </div>
                </div>
            </div>

            <!-- Aquí continúa el resto del código para las otras columnas -->
        </div>
    </div>
</div>


