
<div id="our-services" class="container-xxl py-5">
    <div class="container">
        <div class="text-center">
            <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
            <h1 class="display-5 mb-5">Our Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="card h-100">
                    <img src="img/microsoft365.png" class="card-img-top img-fluid" alt="Microsoft 365">
                    <div class="card-body">
                        <h5 class="card-title">Microsoft 365</h5>
                        <p class="card-text">Office 365 Licensing for personal or business needs</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="card h-100">
                    <img src="img/customSoftware.jpg" class="card-img-top img-fluid" alt="Custom Software Development">
                    <div class="card-body">
                        <h5 class="card-title">Software Development</h5>
                        <p class="card-text">Custom software development tailored to your business needs.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="card h-100">
                    <img src="img/safetyS.jpg" class="card-img-top img-fluid" alt="Quality and Safety Software">
                    <div class="card-body">
                        <h5 class="card-title">Quality and Safety Software</h5>
                        <p class="card-text">Software solutions ensuring quality and safety standards for your operations.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="card h-100">
                    <img src="img/accessC.jpg" class="card-img-top img-fluid" alt="Access Control">
                    <div class="card-body">
                        <h5 class="card-title">Hosting</h5>
                        <p class="card-text">Effective access control solutions to secure your premises.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
