@model AboutModel

<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3">Sobre Nosotros</h1>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5">
                <h2 class="display-5 mb-4">Bienvenidos a QM Tech</h2>
                <p>Con años de experiencia en desarrollo de software personalizado, hemos trabajado con una amplia gama de industrias y tenemos la experiencia necesaria para ofrecer soluciones efectivas y escalables.</p>
                <h3 class="mb-3">¿Por qué elegirnos?</h3>
                <ul class="list-unstyled mb-4">
                    <li class="d-flex align-items-center mb-2">
                        <div class="icon bg-primary">
                            <i class="fa fa-check text-white"></i>
                        </div>
                        <span class="ms-3">Desarrolladores altamente calificados</span>
                    </li>
                    <li class="d-flex align-items-center mb-2">
                        <div class="icon bg-primary">
                            <i class="fa fa-check text-white"></i>
                        </div>
                        <span class="ms-3">Soluciones personalizadas</span>
                    </li>
                    <li class="d-flex align-items-center mb-2">
                        <div class="icon bg-primary">
                            <i class="fa fa-check text-white"></i>
                        </div>
                        <span class="ms-3">Atención al cliente dedicada</span>
                    </li>
                </ul>
                <a href="#" class="btn btn-primary py-3 px-5">Más información</a>
            </div>
            <div class="col-lg-7">
                <img class="img-fluid" src="img/about.jpg" alt="Sobre nosotros">
            </div>
        </div>
    </div>
</div>
