@model CorePackagesModel

<link rel="stylesheet" href="~/css/pricessection.css">
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">

<div class="container-xxl py-5 core-packages-section">
    <div class="container">
        <div class="text-center">
            <div class="price-tabs" role="tablist">
                <a class="nav-link active" href="#one-year" role="tab" data-toggle="tab">1 Year</a>
                <a class="nav-link" href="#two-years" role="tab" data-toggle="tab">2 Years</a>
                <a class="nav-link" href="#three-years" role="tab" data-toggle="tab">3 Years</a>
            </div>
        </div>
        <div class="tab-content wow fadeIn">
            <!-- Plan de 1 Año -->
            <div role="tabpanel" class="tab-pane fade show active" id="one-year">
                <div class="row justify-content-center">
                    <div class="col-md-4 mb-30">
                        <div class="price-item text-center">
                            <div class="price-top">
                                <h4>Starter Pack (Managed)</h4>
                                <h2 class="mb-0"><sup>$</sup>1,500 MX</h2>
                                <span class="text-capitalize">per year</span>
                            </div>
                            <div class="price-top-extra">
                                <span class="text-capitalize">Get 2 months free</span>
                            </div>
                            <div class="price-content">
                                <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                    <li>5 Websites</li>
                                    <li>15 GB SSD storage</li>
                                    <li>10 email accounts 1gb per account</li>
                                    <li>Customer Support</li>
                                    <li>Unlimited free SSL</li>
                                    <li>Unlimited bandwidth</li>
                                    <li>Free website migration</li>
                                    <li>Standard DDoS protection</li>
                                    <li>Web application firewall</li>
                                    <li>Nameservers protected with Cloudflare</li>
                                    <li>Malware scanner</li>
                                </ul>
                                <a href="#" class="btn btn-custom">Buy now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-30">
                        <div class="price-item text-center popular">
                            <div class="price-top">
                                <h4>Small Business (Managed)</h4>
                                <h2 class="mb-0"><sup>$</sup>2,000 MX</h2>
                                <span class="text-capitalize">per year</span>
                            </div>
                            <div class="price-top-extra-small">
                                <span class="text-capitalize">Get 2 months free</span>
                            </div>
                            <div class="price-content">
                                <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                    <li>10 Websites</li>
                                    <li>25 GB SSD storage</li>
                                    <li>20 email accounts 1gb per account</li>
                                    <li>Customer Support</li>
                                    <li>Unlimited free SSL</li>
                                    <li>Unlimited bandwidth</li>
                                    <li>Free website migration</li>
                                    <li>Standard DDoS protection</li>
                                    <li>Web application firewall</li>
                                    <li>Nameservers protected with Cloudflare</li>
                                    <li>Malware scanner</li>
                                </ul>
                                <a href="#" class="btn btn-custom btn-light">Buy now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Plan de 2 Años -->
            <div role="tabpanel" class="tab-pane fade" id="two-years">
                <div class="row justify-content-center">
                    <div class="col-md-4 mb-30">
                        <div class="price-item text-center">
                            <div class="price-top">
                                <h4>Starter Pack (Managed)</h4>
                                <h2 class="mb-0"><sup>$</sup>3,000 MX</h2>
                                <span class="text-capitalize">per 2 years</span>
                            </div>
                            <div class="price-top-extra">
                                <span class="text-capitalize">Get 4 months free</span>
                            </div>
                            <div class="price-content">
                                <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                    <li>5 Websites</li>
                                    <li>15 GB SSD storage</li>
                                    <li>10 email accounts 1gb per account</li>
                                    <li>Customer Support</li>
                                    <li>Unlimited free SSL</li>
                                    <li>Unlimited bandwidth</li>
                                    <li>Free website migration</li>
                                    <li>Standard DDoS protection</li>
                                    <li>Web application firewall</li>
                                    <li>Nameservers protected with Cloudflare</li>
                                    <li>Malware scanner</li>
                                </ul>
                                <a href="#" class="btn btn-custom">Buy now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-30">
                        <div class="price-item text-center popular">
                            <div class="price-top">
                                <h4>Small Business (Managed)</h4>
                                <h2 class="mb-0"><sup>$</sup>4,000 MX</h2>
                                <span class="text-capitalize">per 2 years</span>
                            </div>
                            <div class="price-top-extra-small">
                                <span class="text-capitalize">Get 4 months free</span>
                            </div>
                            <div class="price-content">
                                <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                    <li>10 Websites</li>
                                    <li>25 GB SSD storage</li>
                                    <li>20 email accounts 1gb per account</li>
                                    <li>Customer Support</li>
                                    <li>Unlimited free SSL</li>
                                    <li>Unlimited bandwidth</li>
                                    <li>Free website migration</li>
                                    <li>Standard DDoS protection</li>
                                    <li>Web application firewall</li>
                                    <li>Nameservers protected with Cloudflare</li>
                                    <li>Malware scanner</li>
                                </ul>
                                <a href="#" class="btn btn-custom btn-light">Buy now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Plan de 3 Años -->
            <div role="tabpanel" class="tab-pane fade" id="three-years">
                <div class="row justify-content-center">
                    <div class="col-md-4 mb-30">
                        <div class="price-item text-center">
                            <div class="price-top">
                                <h4>Starter Pack (Managed)</h4>
                                <h2 class="mb-0"><sup>$</sup>4,500 MX</h2>
                                <span class="text-capitalize">per 3 years</span>
                            </div>
                            <div class="price-top-extra">
                                <span class="text-capitalize">Get 6 months free</span>
                            </div>
                            <div class="price-content">
                                <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                    <li>5 Websites</li>
                                    <li>15 GB SSD storage</li>
                                    <li>10 email accounts 1gb per account</li>
                                    <li>Customer Support</li>
                                    <li>Unlimited free SSL</li>
                                    <li>Unlimited bandwidth</li>
                                    <li>Free website migration</li>
                                    <li>Standard DDoS protection</li>
                                    <li>Web application firewall</li>
                                    <li>Nameservers protected with Cloudflare</li>
                                    <li>Malware scanner</li>
                                </ul>
                                <a href="#" class="btn btn-custom">Buy now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-30">
                        <div class="price-item text-center popular">
                            <div class="price-top">
                                <h4>Small Business (Managed)</h4>
                                <h2 class="mb-0"><sup>$</sup>6,000 MX</h2>
                                <span class="text-capitalize">per 3 years</span>
                            </div>
                            <div class="price-top-extra-small">
                                <span class="text-capitalize">Get 6 months free</span>
                            </div>
                            <div class="price-content">
                                <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                    <li>10 Websites</li>
                                    <li>25 GB SSD storage</li>
                                    <li>20 email accounts 1gb per account</li>
                                    <li>Customer Support</li>
                                    <li>Unlimited free SSL</li>
                                    <li>Unlimited bandwidth</li>
                                    <li>Free website migration</li>
                                    <li>Standard DDoS protection</li>
                                    <li>Web application firewall</li>
                                    <li>Nameservers protected with Cloudflare</li>
                                    <li>Malware scanner</li>
                                </ul>
                                <a href="#" class="btn btn-custom btn-light">Buy now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tabs = document.querySelectorAll('.price-tabs .nav-link');
        const tabContent = document.querySelectorAll('.tab-pane');

        tabs.forEach(tab => {
            tab.addEventListener('click', function (e) {
                e.preventDefault();

                tabs.forEach(item => item.classList.remove('active'));
                tab.classList.add('active');

                const target = tab.getAttribute('href').substring(1);

                tabContent.forEach(content => {
                    if (content.getAttribute('id') === target) {
                        content.classList.add('show', 'active');
                    } else {
                        content.classList.remove('show', 'active');
                    }
                });
            });
        });
    });
</script>
