@model CorePackagesModel

<link rel="stylesheet" href="~/css/pricessection.css">
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">

<div class="container-xxl py-5 core-packages-section">
    <div class="container">
        <div class="text-center">
            <div class="price-tabs" role="tablist">
                <a class="nav-link active" href="#one-year" role="tab" data-toggle="tab">1 Año</a>
                <a class="nav-link" href="#two-years" role="tab" data-toggle="tab">2 Años</a>
                <a class="nav-link" href="#three-years" role="tab" data-toggle="tab">3 Años</a>
            </div>
        </div>
        <div class="tab-content wow fadeIn">
            <!-- Plan de 1 Año -->
            <div role="tabpanel" class="tab-pane fade show active" id="one-year">
                <div class="row justify-content-center">
                    <div class="col-md-4 mb-30">
                        <div class="price-item text-center">
                            <div class="price-top">
                                <h4>Paquete Inicial (Administrado)</h4>
                                <h2 class="mb-0"><sup>$</sup>1,500 MX</h2>
                                <span class="text-capitalize">por año</span>
                            </div>
                            <div class="price-top-extra">
                                <span class="text-capitalize">Obtén 2 meses gratis</span>
                            </div>
                            <div class="price-content">
                                <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                    <li>5 Sitios Web</li>
                                    <li>15 GB de almacenamiento SSD</li>
                                    <li>10 cuentas de email 1GB por cuenta</li>
                                    <li>Soporte al Cliente</li>
                                    <li>SSL gratuito e ilimitado</li>
                                    <li>Ancho de banda ilimitado</li>
                                    <li>Migración de sitios web gratuita</li>
                                    <li>Protección estándar contra DDoS</li>
                                    <li>Firewall de aplicaciones web</li>
                                    <li>Nameservers protegidos con Cloudflare</li>
                                    <li>Escáner de malware</li>
                                </ul>
                                <a href="#" class="btn btn-custom">Comprar ahora</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-30">
                        <div class="price-item text-center popular">
                            <div class="price-top">
                                <h4>Negocio Pequeño (Administrado)</h4>
                                <h2 class="mb-0"><sup>$</sup>2,000 MX</h2>
                                <span class="text-capitalize">por año</span>
                            </div>
                            <div class="price-top-extra-small">
                                <span class="text-capitalize">Obtén 2 meses gratis</span>
                            </div>
                            <div class="price-content">
                                <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                    <li>10 Sitios Web</li>
                                    <li>25 GB de almacenamiento SSD</li>
                                    <li>20 cuentas de email 1GB por cuenta</li>
                                    <li>Soporte al Cliente</li>
                                    <li>SSL gratuito e ilimitado</li>
                                    <li>Ancho de banda ilimitado</li>
                                    <li>Migración de sitios web gratuita</li>
                                    <li>Protección estándar contra DDoS</li>
                                    <li>Firewall de aplicaciones web</li>
                                    <li>Nameservers protegidos con Cloudflare</li>
                                    <li>Escáner de malware</li>
                                </ul>
                                <a href="#" class="btn btn-custom btn-light">Comprar ahora</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Plan de 2 Años -->
            <div role="tabpanel" class="tab-pane fade" id="two-years">
                <div class="row justify-content-center">
                    <div class="col-md-4 mb-30">
                        <div class="price-item text-center">
                            <div class="price-top">
                                <h4>Paquete Inicial (Administrado)</h4>
                                <h2 class="mb-0"><sup>$</sup>3,000 MX</h2>
                                <span class="text-capitalize">por 2 años</span>
                            </div>
                            <div class="price-top-extra">
                                <span class="text-capitalize">Obtén 4 meses gratis</span>
                            </div>
                            <div class="price-content">
                                <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                    <li>5 Sitios Web</li>
                                    <li>15 GB de almacenamiento SSD</li>
                                    <li>10 cuentas de email 1GB por cuenta</li>
                                    <li>Soporte al Cliente</li>
                                    <li>SSL gratuito e ilimitado</li>
                                    <li>Ancho de banda ilimitado</li>
                                    <li>Migración de sitios web gratuita</li>
                                    <li>Protección estándar contra DDoS</li>
                                    <li>Firewall de aplicaciones web</li>
                                    <li>Nameservers protegidos con Cloudflare</li>
                                    <li>Escáner de malware</li>
                                </ul>
                                <a href="#" class="btn btn-custom">Comprar ahora</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-30">
                        <div class="price-item text-center popular">
                            <div class="price-top">
                                <h4>Negocio Pequeño (Administrado)</h4>
                                <h2 class="mb-0"><sup>$</sup>4,000 MX</h2>
                                <span class="text-capitalize">por 2 años</span>
                            </div>
                            <div class="price-top-extra-small">
                                <span class="text-capitalize">Obtén 4 meses gratis</span>
                            </div>
                            <div class="price-content">
                                <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                    <li>10 Sitios Web</li>
                                    <li>25 GB de almacenamiento SSD</li>
                                    <li>20 cuentas de email 1GB por cuenta</li>
                                    <li>Soporte al Cliente</li>
                                    <li>SSL gratuito e ilimitado</li>
                                    <li>Ancho de banda ilimitado</li>
                                    <li>Migración de sitios web gratuita</li>
                                    <li>Protección estándar contra DDoS</li>
                                    <li>Firewall de aplicaciones web</li>
                                    <li>Nameservers protegidos con Cloudflare</li>
                                    <li>Escáner de malware</li>
                                </ul>
                                <a href="#" class="btn btn-custom btn-light">Comprar ahora</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Plan de 3 Años -->
            <div role="tabpanel" class="tab-pane fade" id="three-years">
                <div class="row justify-content-center">
                    <div class="col-md-4 mb-30">
                        <div class="price-item text-center">
                            <div class="price-top">
                                <h4>Paquete Inicial (Administrado)</h4>
                                <h2 class="mb-0"><sup>$</sup>4,500 MX</h2>
                                <span class="text-capitalize">por 3 años</span>
                            </div>
                            <div class="price-top-extra">
                                <span class="text-capitalize">Obtén 6 meses gratis</span>
                            </div>
                            <div class="price-content">
                                <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                    <li>5 Sitios Web</li>
                                    <li>15 GB de almacenamiento SSD</li>
                                    <li>10 cuentas de email 1GB por cuenta</li>
                                    <li>Soporte al Cliente</li>
                                    <li>SSL gratuito e ilimitado</li>
                                    <li>Ancho de banda ilimitado</li>
                                    <li>Migración de sitios web gratuita</li>
                                    <li>Protección estándar contra DDoS</li>
                                    <li>Firewall de aplicaciones web</li>
                                    <li>Nameservers protegidos con Cloudflare</li>
                                    <li>Escáner de malware</li>
                                </ul>
                                <a href="#" class="btn btn-custom">Comprar ahora</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-30">
                        <div class="price-item text-center popular">
                            <div class="price-top">
                                <h4>Negocio Pequeño (Administrado)</h4>
                                <h2 class="mb-0"><sup>$</sup>6,000 MX</h2>
                                <span class="text-capitalize">por 3 años</span>
                            </div>
                            <div class="price-top-extra-small">
                                <span class="text-capitalize">Obtén 6 meses gratis</span>
                            </div>
                            <div class="price-content">
                                <ul class="border-bottom mb-30 mt-md-4 pb-3 text-left">
                                    <li>10 Sitios Web</li>
                                    <li>25 GB de almacenamiento SSD</li>
                                    <li>20 cuentas de email 1GB por cuenta</li>
                                    <li>Soporte al Cliente</li>
                                    <li>SSL gratuito e ilimitado</li>
                                    <li>Ancho de banda ilimitado</li>
                                    <li>Migración de sitios web gratuita</li>
                                    <li>Protección estándar contra DDoS</li>
                                    <li>Firewall de aplicaciones web</li>
                                    <li>Nameservers protegidos con Cloudflare</li>
                                    <li>Escáner de malware</li>
                                </ul>
                                <a href="#" class="btn btn-custom btn-light">Comprar ahora</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tabs = document.querySelectorAll('.price-tabs .nav-link');
        const tabContent = document.querySelectorAll('.tab-pane');

        tabs.forEach(tab => {
            tab.addEventListener('click', function (e) {
                e.preventDefault();

                tabs.forEach(item => item.classList.remove('active'));
                tab.classList.add('active');

                const target = tab.getAttribute('href').substring(1);

                tabContent.forEach(content => {
                    if (content.getAttribute('id') === target) {
                        content.classList.add('show', 'active');
                    } else {
                        content.classList.remove('show', 'active');
                    }
                });
            });
        });
    });
</script>
