@model QualityMatters.Pages.FeatureModel
<link href="~/css/feature.css" rel="stylesheet" />

<div id="Feature" class="container-fluid bg-light overflow-hidden px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-12 feature-text wow fadeIn" style="padding-left: 50px;" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0 text-center">
                    <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                    <h1 class="display-5 mb-5">Why Choose Us?</h1>
                    <p class="mb-4 pb-2">With years of experience in custom software development, we have worked with a wide range of industries and have the necessary expertise to deliver effective and scalable solutions.</p>
                    <div class="row justify-content-center">
                        <div class="col-md-6 feature-column">
                            <div class="feature-item">
                                <h4 class="mb-2">Experience and Professionalism</h4>
                                <p class="mb-0">We have a team of highly qualified developers and technicians with years of experience in the technology sector.</p>
                                <div class="icon-square mt-3">
                                    <img src="~/img/Experience and Professionalism.webp" alt="Experience and Professionalism">
                                </div>
                            </div>
                            <div class="feature-item">
                                <h4 class="mb-2">Focus on Quality</h4>
                                <p class="mb-0">We are committed to delivering the highest quality products and services, ensuring that each project meets the most demanding standards.</p>
                                <div class="icon-square mt-3">
                                    <img src="~/img/Focus on Quality.webp" alt="Focus on Quality">
                                </div>
                            </div>
                            <div class="feature-item">
                                <h4 class="mb-2">Constant Innovation</h4>
                                <p class="mb-0">We stay up to date with the latest trends and technologies to offer innovative solutions that drive your company's growth.</p>
                                <div class="icon-square mt-3">
                                    <img src="~/img/Constant Innovation.webp" alt="Constant Innovation">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 feature-column">
                            <div class="feature-item">
                                <h4 class="mb-2">Comprehensive Solutions</h4>
                                <p class="mb-0">We offer a wide range of services, from web, mobile, and desktop development to technical support, server maintenance, and business email management.</p>
                                <div class="icon-square mt-3">
                                    <img src="~/img/Comprehensive Solutions.webp" alt="Comprehensive Solutions">
                                </div>
                            </div>
                            <div class="feature-item">
                                <h4 class="mb-2">Personalized Support</h4>
                                <p class="mb-0">We provide personalized attention and technical support tailored to the specific needs of each client, ensuring a quick and effective response.</p>
                                <div class="icon-square mt-3">
                                    <img src="~/img/Personalized Support.webp" alt="Personalized Support">
                                </div>
                            </div>
                            <div class="feature-item">
                                <h4 class="mb-2">Trust and Security</h4>
                                <p class="mb-0">We prioritize data security and client confidentiality, implementing best practices for protection and privacy.</p>
                                <div class="icon-square mt-3">
                                    <img src="~/img/Trust and Security.webp" alt="Trust and Security">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
