@model QualityMatters.Pages.FeatureModel
<link href="~/css/feature.css" rel="stylesheet" />

<div id="Feature" class="container-fluid bg-light overflow-hidden px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-12 feature-text wow fadeIn" style="padding-left: 50px;" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0 text-center">
                    <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                    <h1 class="display-5 mb-5">¿Por qué Elegirnos?</h1>
                    <p class="mb-4 pb-2">Con años de experiencia en desarrollo de software personalizado, hemos trabajado con una amplia gama de industrias y tenemos la experiencia necesaria para ofrecer soluciones efectivas y escalables.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <h4 class="mb-2">Experiencia y Profesionalismo</h4>
                                <p class="mb-0">Contamos con un equipo de desarrolladores y técnicos altamente calificados con años de experiencia en el sector tecnológico.</p>
                                <div class="icon-square">
                                    <img src="~/img/Experience and Professionalism.webp" alt="Experience and Professionalism">
                                </div>
                            </div>
                            <div class="feature-item">
                                <h4 class="mb-2">Enfoque en la Calidad</h4>
                                <p class="mb-0">Estamos comprometidos con ofrecer productos y servicios de la más alta calidad, asegurando que cada proyecto cumpla con los estándares más exigentes.</p>
                                <div class="icon-square">
                                    <img src="~/img/Focus on Quality.webp" alt="Focus on Quality">
                                </div>
                            </div>
                            <div class="feature-item">
                                <h4 class="mb-2">Innovación Constante</h4>
                                <p class="mb-0">Nos mantenemos al día con las últimas tendencias y tecnologías para ofrecer soluciones innovadoras que impulsen el crecimiento de tu empresa.</p>
                                <div class="icon-square">
                                    <img src="~/img/Constant Innovation.webp" alt="Constant Innovation">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <h4 class="mb-2">Soluciones Integrales</h4>
                                <p class="mb-0">Ofrecemos una amplia gama de servicios, desde desarrollo web, móvil y de escritorio hasta soporte técnico, mantenimiento de servidores y gestión de correos electrónicos empresariales.</p>
                                <div class="icon-square">
                                    <img src="~/img/Comprehensive Solutions.webp" alt="Comprehensive Solutions">
                                </div>
                            </div>
                            <div class="feature-item">
                                <h4 class="mb-2">Soporte Personalizado</h4>
                                <p class="mb-0">Brindamos atención personalizada y soporte técnico adaptado a las necesidades específicas de cada cliente, asegurando una respuesta rápida y efectiva.</p>
                                <div class="icon-square">
                                    <img src="~/img/Personalized Support.webp" alt="Personalized Support">
                                </div>
                            </div>
                            <div class="feature-item">
                                <h4 class="mb-2">Confianza y Seguridad</h4>
                                <p class="mb-0">Priorizamos la seguridad de los datos y la confidencialidad del cliente, implementando las mejores prácticas para protección y privacidad.</p>
                                <div class="icon-square">
                                    <img src="~/img/Trust and Security.webp" alt="Trust and Security">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
