@model QuoteModel

<div id="obtener-una-cotizacion-gratis" class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container quote px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100 rounded-image" src="img/quotef.jpg" style="object-fit: cover; width: 50%; height: auto;" alt="">
                </div>
            </div>

            <div class="col-lg-6 quote-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 pe-lg-0">
                    <div class="bg-primary mb-3" style="width: 60px; height: 2px;"></div>
                    <h1 class="display-5 mb-5">¡Obtén una Cotización Gratis!</h1>
                    <p class="mb-4 pb-2">Nuestro equipo de desarrolladores de software expertos está aquí para ayudarte a alcanzar tus objetivos comerciales proporcionando soluciones personalizadas perfectamente adecuadas a tus necesidades.</p>
                    <form id="whatsappForm">
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" id="nameInput" class="form-control border-0" placeholder="Nombre" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" id="emailInput" class="form-control border-0" placeholder="Correo electrónico" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" id="phoneInput" class="form-control border-0" placeholder="Teléfono" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <select id="serviceSelect" class="form-select border-0" style="height: 55px;">
                                    <option selected>Selecciona un Servicio</option>
                                    <option value="Aplicación Móvil">Aplicación Móvil</option>
                                    <option value="Aplicación Web">Aplicación Web</option>
                                    <option value="Redes">Redes</option>
                                    <option value="Licencias de Microsoft Office">Licencias de Microsoft Office</option>
                                    <option value="Software Multiplataforma">Software Multiplataforma</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <textarea id="noteTextarea" class="form-control border-0" placeholder="Nota Especial"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="button" onclick="sendWhatsAppMessage()">Obtener una Cotización Gratis</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
