@model ServiceModel

<div id="nuestros-servicios" class="container-xxl py-5">
    <div class="container">
        <div class="text-center">
            <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
            <h1 class="display-5 mb-5">Nuestros Servicios</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col wow fadeIn" data-wow-delay="0.1s">
                <div class="card h-100">
                    <img src="~/img/Installing_Software.webp" class="card-img-top img-fluid" alt="Instalación de Software">
                    <div class="card-body">
                        <h5 class="card-title">Instalación de Software</h5>
                        <p class="card-text">Licencias de Office 365 para necesidades personales o empresariales</p>
                        <a asp-page="/MarketSoftware" class="btn btn-primary">Ver Más</a>
                    </div>
                </div>
            </div>
            <div class="col wow fadeIn" data-wow-delay="0.3s">
                <div class="card h-100">
                    <img src="~/img/software_development.webp" class="card-img-top img-fluid" alt="Desarrollo de Software a Medida">
                    <div class="card-body">
                        <h5 class="card-title">Desarrollo de Software</h5>
                        <p class="card-text">Desarrollo de software a medida adaptado a las necesidades de su negocio.</p>
                        <a asp-page="/MarketWebApp" class="btn btn-primary">Ver Más</a>
                    </div>
                </div>
            </div>
            <div class="col wow fadeIn" data-wow-delay="0.5s">
                <div class="card h-100">
                    <img src="~/img/quality_and_safety_software.webp" class="card-img-top img-fluid" alt="Software de Calidad y Seguridad">
                    <div class="card-body">
                        <h5 class="card-title">Software de Calidad y Seguridad</h5>
                        <p class="card-text">Soluciones de software que garantizan estándares de calidad y seguridad en sus operaciones.</p>
                        <a href="quality-safety-software-details" class="btn btn-primary">Ver Más</a>
                    </div>
                </div>
            </div>
            <div class="col wow fadeIn" data-wow-delay="0.7s">
                <div class="card h-100">
                    <img src="~/img/hosting.webp" class="card-img-top img-fluid" alt="Hosting">
                    <div class="card-body">
                        <h5 class="card-title">Hosting</h5>
                        <p class="card-text">Soluciones efectivas de control de acceso para asegurar sus instalaciones.</p>
                        <a href="hosting-details" class="btn btn-primary">Ver Más</a>
                    </div>
                </div>
            </div>
            <div class="col wow fadeIn" data-wow-delay="0.9s">
                <div class="card h-100">
                    <img src="~/img/enterprise_email.webp" class="card-img-top img-fluid" alt="Correo Empresarial">
                    <div class="card-body">
                        <h5 class="card-title">Correo Empresarial</h5>
                        <p class="card-text">Soluciones completas de correo electrónico para empresas, asegurando una comunicación segura y fiable.</p>
                        <a href="email-enterprise-details" class="btn btn-primary">Ver Más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
